.wrapper{
  display: flex;
}

ul.list{
  padding: 0;
  box-shadow: 0px 0px 14px 1px #e0e0e0;
  border-radius: 5px;
  min-height: 300px;
  max-height: 300px;
  margin-right: 20px;
  flex: 1;
  overflow: hidden;
  overflow-y: auto;

  li{
    padding: 20px;
    cursor: pointer;

    span{
      font-size: 16px;
      font-weight: 700;
      color: #333;
      vertical-align: middle;
    }
  }

  &:last-child{
    margin-left: 20px;
  }
}

.arrow-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.arrow{
  width: 10px;
  height: 10px;
  border: 2px solid #757575;
 
  &-box{
    background:#e0e0e0;
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
  }

  &-left{
    border-left-width: 0;
    border-bottom-width: 0;
    transform: rotate(45deg);
    position: relative;
    left: -2px;
  }

  &-right{
    border-right-width: 0;
    border-top-width: 0;
    transform: rotate(45deg);
    position: relative;
    right: -2px;
  }
}

.placeholder {
  background: rgb(255,240,120);
  &:before {
    content: "Drop here";
    color: rgb(225,210,90);
  }
}